@use "~@dpgr/design-system/nvb/tokens/z-indices";
@use "~@dpgr/design-system/nvb/tokens/colors";
@use "../../../sass/tokens/icons";
@use "../../../sass/tools/icons" as icons-tools;

$mobile-menu-max-width: 350px;

.mobile-menu__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: z-indices.$modal-window;
}

.mobile-menu__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s 0s;
  z-index: 1;
}

.mobile-menu__wrapper--visible {
  visibility: visible;
}

.mobile-menu__wrapper--visible .mobile-menu__backdrop {
  opacity: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: colors.$white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: $mobile-menu-max-width;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  transform: translateX(-100%);
  transition: visibility 0.3s, transform 0.3s ease-out;
}

.mobile-menu__wrapper--visible .mobile-menu {
  transform: translateX(0);
}

.mobile-menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-bottom: 1px solid colors.$grey-300;
}

.mobile-menu__header img {
  width: 118px;
  height: auto;
}

.mobile-menu__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: icons.$icon-tap-area;
  height: icons.$icon-tap-area;

  &::after {
    content: " ";
    @include icons-tools.background-icon("close", colors.$grey-600)
  }
}

.mobile-menu__header-button {
  width: 100px;
  display: flex;
}
.mobile-menu__header-button--close {
  justify-content: flex-end;
}
.mobile-menu__header-button--back{
  justify-content: flex-start;
}

.mobile-menu__back-button {
  text-transform: lowercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: icons.$icon-tap-area;
  color: colors.$grey-600;

  &::before {
    content: " ";
    @include icons-tools.background-icon("arrow-back", colors.$grey-600)
  }
}

.mobile-menu__logo {
  flex: 1;
  text-align: center;
}

.mobile-menu__stack {
  flex: 1;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.mobile-menu__stack-inner {
  position: absolute;
  display: flex;
  width: 300%;
  min-height: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}

.mobile-menu__stack-inner--screen2 {
  transform: translateX(calc(-1 * 100% / 3));
}

.mobile-menu__stack-inner--screen3 {
  transform: translateX(calc(-2 * 100% / 3));
}

.mobile-menu__stack-screen {
  flex: 1;
  padding: 0.5rem 1rem;
  position: relative;
}

.mobile-menu__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-menu__link-list li + li {
  border-top: 1px solid colors.$grey-300
}

.mobile-menu__link-list a, .mobile-menu__link-list button {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  line-height: 3rem;
  display: block;
  width: 100%;
  text-align: left;
  color: colors.$grey-600;
  text-transform: lowercase;
  box-sizing: border-box;
  position: relative;
}

.mobile-menu__link-list.mobile-menu__link-list--capitalize a,
.mobile-menu__link-list.mobile-menu__link-list--capitalize button  {
  text-transform: capitalize;
}

.mobile-menu__link-list button {
  padding-right: icons.$icon-size-sm;
}

.mobile-menu__link-list button::after,
.mobile-menu__bottom-link::after {
  @include icons-tools.background-icon("keyboard-arrow-right", colors.$grey-600);
  content: " ";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: icons.$icon-size-sm / 2 * -1;
}

.mobile-menu__link-icon {
  @include icons-tools.inline-monochrome-icon(colors.$blue-500);
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: icons.$icon-size-sm / 2 * -1;
}

.mobile-menu__stack-screen .mobile-menu__link-list:last-of-type {
  padding-bottom: 3rem;
}

.mobile-menu__link-list .mobile-menu__link--with-icon {
  padding-left: calc(#{icons.$icon-size-sm} + 0.5rem);
}

.mobile-menu__link-list .mobile-menu__link--no-icon {
  padding-left: 0.5rem;
}

.mobile-menu__link-list-title {
  font-weight: bold;
  text-transform: lowercase;
  margin-top: 1rem;
}

.mobile-menu__bottom-link {
  display: block;
  line-height: 3rem;
  background: colors.$grey-100;
  width: 100%;
  color: colors.$black;
  box-sizing: border-box;
  padding-left: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
}

.mobile-menu__bottom-link::after {
  right: 1rem;
}

