@use "../tokens/icons";

$icon-map: (
  "keyboard-arrow-right": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjU5MDA4OCAxMC41OUw1LjE3MDA5IDZMMC41OTAwODggMS40MUwyLjAwMDA5IDBMOC4wMDAwOSA2TDIuMDAwMDkgMTJMMC41OTAwODggMTAuNTlaIiBmaWxsPSIjMzIzMjMyIi8+Cjwvc3ZnPgo=",
  "keyboard-arrow-up": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjQxIDcuNDFMNiAyLjgzTDEwLjU5IDcuNDFMMTIgNkw2IDBMMCA2TDEuNDEgNy40MVoiIGZpbGw9IiMzMjMyMzIiLz4KPC9zdmc+Cg==",
  "close": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE0IDEuNDEgMTIuNTkgMCA3IDUuNTkgMS40MSAwIDAgMS40MSA1LjU5IDcgMCAxMi41OSAxLjQxIDE0IDcgOC40MSAxMi41OSAxNCAxNCAxMi41OSA4LjQxIDcgMTQgMS40MVoiIGZpbGw9IiMzMjMyMzIiLz48L3N2Zz4=",
  "arrow-back": "data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDdIMy44M2w1LjU5LTUuNTlMOCAwIDAgOGw4IDggMS40MS0xLjQxTDMuODMgOUgxNlY3WiIgZmlsbD0iIzMyMzIzMiIvPjwvc3ZnPg==",
);

@mixin background-icon-fill-color($color) {
  background-color: $color
}

@mixin background-icon($icon-key, $color: #000) {
  display: block;
  width: icons.$icon-size-sm;
  height: icons.$icon-size-sm;
  mask-position: center center;
  -webkit-mask-position: center center;
  mask-image: url(map-get($icon-map, $icon-key));
  -webkit-mask-image: url(map-get($icon-map, $icon-key));
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transform-box: fill-box;
  transform-origin: center;
  @include background-icon-fill-color($color)
}

/* This is to be applied to an svg element with one fill color, applied to the root svg-tag*/
@mixin inline-monochrome-icon($color: #000) {
  fill: $color;
  display: block;
  width: icons.$icon-size-sm;
  height: icons.$icon-size-sm;
  transform-box: fill-box;
  transform-origin: center;
}
