@use "~@dpgr/design-system/nvb/tokens/colors";
@use "~@dpgr/design-system/nvb/tokens/z-indices";
@use "~@dpgr/design-system/nvb/tokens/breakpoints";
@use "~@dpgr/design-system/nvb/tokens/fonts";
@use "~@dpgr/design-system/nvb/tools/link";
@use "~@dpgr/design-system/nvb/tools/button";
@use "~@dpgr/design-system/nvb/tools/font-faces";
@use "~@dpgr/design-system/nvb/tools/grid" as grid-tools;
@use "~@dpgr/design-system/nvb/tokens/grid";
@use "~@dpgr/design-system/nvb/tools/focus";
@use "../../sass/tools/icons" as icon-tools;
@use "../../sass/tokens/icons";

$menu-main-height: 3.75rem;
$menu-top-height: 2rem;
$desktop-menu-width: 35rem;
$dropdown-link-height: 2.75rem;
$dropdown-link-width: 13rem;
$dropdown-link-hover-correction: 0.5rem;
$dropdown-list-padding-y: 2.75rem;

header {
  all: initial;
  font-family: fonts.$body-font-family;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  @include link.reset-style();
  @include focus.focus-visible-fallback() {
    outline: 1px solid colors.$black;
  }
}

button {
  @include button.link-style();
}

.container {
  @include grid-tools.container-style();
}

.container--top {
  display: none;

  @media (min-width: breakpoints.$lg) {
    display: block;
  }
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $menu-top-height;
  padding-right: 0.6rem;
}

.top a {
  color: colors.$grey-500;
  text-transform: lowercase;
  font-size: 0.875rem;
}


.main {
  background-color: colors.$blue-600;
}

.main-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.logo-link {
  display: flex;
  align-items: center;
}

.mobile-menu-button-container, .account-button-container {
  display: flex;
  height: 60px;
  align-items: center;

  @media (min-width: breakpoints.$lg) {
    display: none;
  }
}

.mobile-menu-button, .account-button {
  position: relative;
  width: icons.$icon-tap-area;
  height: icons.$icon-tap-area;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  position: absolute;
  width: 100%;
  top: $menu-main-height + $menu-top-height;
  left: 0;
  visibility: hidden;
  background: colors.$grey-100;
  z-index: z-indices.$header-menu-dropdown;
}

.dropdown-container a,
.dropdown-container button {
  display: block;
  line-height: $dropdown-link-height;
  text-align: left;
  text-transform: lowercase;
  color: colors.$grey-700;
  padding-left: $dropdown-link-hover-correction;
  margin-left: -1 * $dropdown-link-hover-correction;
  width: $dropdown-link-width;
  box-sizing: border-box;

  &:hover {
    background-color: colors.$blue-200;
    text-decoration: none;
  }
}

.dropdown-container button {
  position: relative;

  &:after {
    content: " ";
    @include icon-tools.background-icon('keyboard-arrow-right');
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: icons.$icon-size-sm / 2 * -1;
  }
}

.dropdown-backdrop {
  z-index: z-indices.$header-menu-backdrop;
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background: rgba(colors.$black, 0.6);
  top: $menu-main-height + $menu-top-height;
  left: 0;
  width: 100%;
  height: calc(100% - #{$menu-main-height} - #{$menu-top-height});
  transition: visibility 0.3s, opacity 0.3s 0s;
}

.menu {
  align-items: center;
  flex-direction: row;
  width: $desktop-menu-width;
  display: none;

  @media (min-width: breakpoints.$lg) {
    display: flex;
  }
}

.menu-separator {
  margin: 0 1rem;
  border: 0;
  border-right: 1px solid colors.$white;
  height: 1.5rem;
}

.menu-link {
  position: relative;
  color: colors.$white;
  line-height: $menu-main-height;
  text-transform: lowercase;
  margin-left: 1rem;
  margin-right: 1rem;

  &:hover {
    text-decoration: none;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 6px;
    height: 3px;
    left: 0;
    background-color: colors.$white;
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }
}

.menu-link--dropdown {
  padding-right: calc(#{icons.$icon-size-sm} + 0.5rem);

  &:after {
    content: " ";
    @include icon-tools.background-icon('keyboard-arrow-up', colors.$white);
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    transition: transform 0.1s ease-out;
    transform: rotate(180deg);
  }
}

.dropdown-wrapper {
  display: flex;
  align-items: center;
  height: $menu-main-height;
}

.dropdown-wrapper:focus .dropdown-container,
.dropdown-wrapper:focus-within .dropdown-container,
.dropdown-wrapper:hover .dropdown-container {
  visibility: visible;
}

.dropdown-wrapper:focus ~ .dropdown-backdrop,
.dropdown-wrapper:focus-within ~ .dropdown-backdrop,
.dropdown-wrapper:hover ~ .dropdown-backdrop {
  visibility: visible;
  opacity: 1;
}

.dropdown-wrapper:focus .menu-link:after,
.dropdown-wrapper:focus-within .menu-link:after,
.dropdown-wrapper:hover .menu-link:after {
  transform: rotate(0deg);
}

.dropdown-wrapper:focus  .menu-link:before,
.dropdown-wrapper:focus-within  .menu-link:before,
.dropdown-wrapper--active .menu-link:before,
.dropdown-wrapper:hover .menu-link:before,
.menu-link:hover:before {
  opacity: 1;
}

.dropdown-list {
  padding: $dropdown-list-padding-y 0;
  margin-left: calc(100% - #{$desktop-menu-width} + #{grid.$container-gutter} - #{$dropdown-link-hover-correction});
  position: relative;
  list-style: none;
}

.sub-menu {
  display: flex;
  position: absolute;
  min-height: 100%;
  left: $dropdown-link-width + $dropdown-link-hover-correction;
  top: 0;
  min-width: 300px;
  padding-left: 4rem;
  padding-top: $dropdown-list-padding-y;
  padding-bottom: $dropdown-list-padding-y;
  visibility: hidden;
  box-sizing: border-box;
}

.sub-menu-inner {
  position: relative;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    left: -2rem;
    border-left: colors.$grey-300 1px solid;
    height: 100%;
    top: 0;
  }
}

.sub-menu-placeholder-item {
  height: $dropdown-link-height;
  display: none;
}

.sub-menu-container:focus .sub-menu,
.sub-menu-container:focus-within .sub-menu,
.sub-menu-container:hover .sub-menu {
  visibility: visible;
}

.dropdown-list-expander {
  display: none;
}

.dropdown-list-expander--jobs {
  height: $dropdown-link-height * 5;
}

.sub-menu-container:focus ~ .dropdown-list-expander,
.sub-menu-container:focus-within ~ .dropdown-list-expander,
.sub-menu-container:hover ~ .dropdown-list-expander {
  display: block;
}

.sub-menu-container:hover button {
  background-color: colors.$blue-200;
  text-decoration: none;
}

.sub-menu-title {
  line-height: $dropdown-link-height;
  text-transform: lowercase;
}

.sub-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu .sub-menu-list-item--capitalized {
  text-transform: capitalize;
}

.mobile-menu__header-icon {
  @include icon-tools.inline-monochrome-icon(colors.$white)
}

@import "./nvb-header-b2c/mobile-menu";
