@use "~@dpgr/design-system/iol/tokens/z-indices";
@use "~@dpgr/design-system/iol/tokens/colors";
@use "../../../sass/tokens/icons";
@use "../../../sass/tools/icons" as icons-tools;

$mobile-menu-max-width: 350px;
$mobile-link-height: 55px;

.mobile-menu__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  z-index: z-indices.$modal-window;
}

.mobile-menu__backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(colors.$grey-700,0.6);
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s 0s;
  z-index: 1;
}

.mobile-menu__wrapper--visible {
  visibility: visible;
}

.mobile-menu__wrapper--visible .mobile-menu__backdrop {
  opacity: 1;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  background-color: colors.$grey-600;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  max-width: $mobile-menu-max-width;
  height: 100%;
  box-sizing: border-box;
  z-index: 2;
  transform: translateX(100%);
  transition: visibility 0.3s, transform 0.3s ease-in-out;
  padding: 1rem;
  overflow-y: auto;
}

.mobile-menu__main a {
  color: colors.$white;
  text-transform: uppercase;
  line-height: $mobile-link-height;
  box-sizing: border-box;
  padding: 0 1rem;
  display: inline-block;
}

.mobile-menu__main {
  margin-top: 1rem;
}

.mobile-menu__wrapper--visible .mobile-menu {
  transform: translateX(0);
}

.mobile-menu__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__header img {
  width: 118px;
  height: auto;
}

.mobile-menu__close-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu__close-button-icon {
  @include icons-tools.inline-monochrome-icon(colors.$yellow-400)
}

.mobile-menu__header-button {
  width: 100px;
  display: flex;
}
.mobile-menu__header-button--close {
  justify-content: flex-end;
}

.mobile-menu__link-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu__link-list--account {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
}

.mobile-menu .mobile-menu__link-list--account a {
  color: colors.$yellow-400;
}

.mobile-menu a.mobile-menu__link {
  border-bottom: 1px solid colors.$white;
  display: block;
  height: $mobile-link-height;
}

.mobile-menu__employer-button {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 2rem 1rem 1rem;
  box-sizing: border-box;
}

.mobile-menu__employer-button a {
  background: colors.$green-300;
  transition: background-color 0.3s ease;
  display: flex;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 3rem;
  min-width: 12rem;
  justify-content: center;
  align-items: center;
  color: colors.$grey-600;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background: colors.$green-400;
  }
}

@import "./MobileMenu/collapsible-menu";
