@use "~@dpgr/design-system/iol/tokens/colors";
@use "~@dpgr/design-system/iol/tokens/z-indices";
@use "~@dpgr/design-system/iol/tokens/breakpoints";
@use "~@dpgr/design-system/iol/tokens/fonts";
@use "~@dpgr/design-system/iol/tools/link";
@use "~@dpgr/design-system/iol/tools/button";
@use "~@dpgr/design-system/iol/tools/font-faces";
@use "~@dpgr/design-system/iol/tools/grid" as grid-tools;
@use "~@dpgr/design-system/iol/tokens/grid";
@use "~@dpgr/design-system/iol/tools/focus";
@use "../../sass/tools/icons" as icon-tools;
@use "../../sass/tokens/icons";

$menu-main-height: 3.75rem;
$menu-top-height: 2rem;
$desktop-menu-width: 35rem;
$dropdown-link-height: 2.75rem;
$dropdown-link-hover-correction: 0.5rem;
$dropdown-link-width: 13rem;
$sub-menu-hover-bleed: 2rem;

header {
  all: initial;
  font-family: fonts.$body-font-family;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

a {
  @include link.reset-style();
  @include focus.focus-visible-fallback() {
    outline: 1px solid colors.$black;
  }
}

button {
  @include button.link-style();
}

.container {
  @include grid-tools.container-style();
}

.container--top {
  display: none;

  @media (min-width: breakpoints.$lg) {
    display: block;
  }
}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: $menu-top-height;
  padding-right: 0.6rem;
}

.top a {
  color: colors.$grey-500;
  text-transform: lowercase;
  font-size: 0.875rem;
}


.main {
  background-color: colors.$grey-600;
}

.main-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.logo {
  display: flex;
  height: $menu-main-height;
  align-items: center;
}

@mixin dropdown-style() {
  list-style: none;
  padding: 0;
  margin: 0;
  background: colors.$yellow-400;
  box-shadow: 0 1px 8px 0 rgb(35 45 61 / 30%);
}

.dropdown-list {
  @include dropdown-style();
  top: $menu-main-height;
  left: 0;
  visibility: hidden;
  z-index: z-indices.$header-menu-dropdown;
  position: absolute;
}

.dropdown-list a,
.dropdown-list button {
  display: block;
  line-height: $dropdown-link-height;
  text-align: left;
  text-transform: lowercase;
  color: colors.$grey-600;
  box-sizing: border-box;
  padding-left: 1rem;
  padding-right: 1rem;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    background-color: colors.$white;
  }
}

.dropdown-list button {
  position: relative;

  &:after {
    content: " ";
    @include icon-tools.background-icon('keyboard-arrow-right');
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: icons.$icon-size-sm / 2 * -1;
  }
}

.menu {
  align-items: center;
  flex-direction: row;
  display: none;

  @media (min-width: breakpoints.$lg) {
    display: flex;
  }
}

.menu-separator {
  margin: 0 1rem;
  border: 0;
  border-right: 1px solid colors.$white;
  height: 1.5rem;
}

.menu-link {
  position: relative;
  color: colors.$green-300;
  line-height: $menu-main-height;
  text-transform: lowercase;
  padding-left: 1rem;
  padding-right: 1rem;

  &:hover {
    text-decoration: none;
    color: colors.$yellow-400;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3px;
    left: 0;
    background-color: colors.$yellow-400;
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }
}

.menu-link--dropdown {
  padding-right: calc(#{icons.$icon-size-sm} + 1.5rem);

  &:after {
    content: " ";
    @include icon-tools.background-icon('keyboard-arrow-up', colors.$green-300);
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -12px;
    transition: transform 0.1s ease-out;
    transform: rotate(180deg);
  }
}

.dropdown-wrapper {
  align-items: center;
  height: $menu-main-height;
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown-wrapper:focus .dropdown-list,
.dropdown-wrapper:focus-within .dropdown-list,
.dropdown-wrapper:hover .dropdown-list {
  visibility: visible;
}

.dropdown-wrapper:focus .menu-link,
.dropdown-wrapper:focus-within .menu-link,
.dropdown-wrapper--active .menu-link,
.dropdown-wrapper:hover .menu-link,
.menu-link:hover {
  & {
    color: colors.$yellow-400;
  }
  &:before {
    opacity: 1;
  }
  &:after {
    transform: rotate(0deg);
    @include icon-tools.background-icon-fill-color(colors.$yellow-400)
  }
}

.sub-menu-container {
  position: relative;
  display: flex;
}

.sub-menu {
  padding: $sub-menu-hover-bleed;
  z-index: z-indices.$header-menu-dropdown;
  position: absolute;
  top: -1 * $sub-menu-hover-bleed;
  left: calc(100% - #{$sub-menu-hover-bleed} + 0.5rem);
  visibility: hidden;
}

.sub-menu-container:focus,
.sub-menu-container:focus-within,
.sub-menu-container:hover {
  .sub-menu {
    visibility: visible;
  }
}

.dropdown-list .sub-menu-button {
  padding-right: calc(#{icons.$icon-size-sm} + 0.5rem);
  flex: 1;
}

.sub-menu__inner {
  @include dropdown-style();
}

.mobile-menu-button-container {
  display: none;
}
